
<div class="card ">
  <h4 class="card-header">
      Laptop Asus Rog Strix
  </h4>
  <div class="card-body">
      <img src="/public/images/products/detail_1.jpg" alt="Laptop" title="Laptop">
    <p class="card-text mt-4">
        Giá bán: <span class="font-weight-bold text-danger">23.000.000</span>
    </p>
    <p class="card-text">
        Tồn kho: 1000
    </p>
    <p class="card-text">
        Bán ra trong tháng: 100
    </p>
    <p class="card-text">
        Xếp hạng độ bán chạy: 5
    </p>
    <p class="card-text">
        Mô tả: 
        <P><STRONG>Information</STRONG></P>
       <UL>
          <LI>Loại hàng: Hàng trong nước</LI>
          <LI>Thiết kế mạnh mẽ: Asus ROG Strix G15 G513IH-HN015TW có ngoại hình vô cùng mạnh mẽ với màu sắc trang nhã. Khung máy có kích thước nhỏ hơn đến 7% so với thế hệ trước giúp bạn có thể chơi bất cứ tựa game nào mà bạn muốn. </LI>
          <LI>Hệ thống tản nhiệt tốt: Asus ROG Strix G15 G513IH-HN015TW có hệ thống tản nhiệt siêu khủng. Với keo tản nhiệt kim loại lỏng trên CPU máy sở hữu khả năng làm mát vô cùng tuyệt vời. </LI>
          <LI>Đèn LED RGB tỏa sáng rực rỡ: Hệ thống đèn LED nhiều màu sắc vừa có khả năng tăng cường độ bảo mật đèn LED vừa tạo nên hiệu ứng ánh sáng nổi bật tại mắt đáy.</LI>
      </UL>

    </p>
     <a class="btn btn-sm btn-outline-primary" role="button">
            <i class="fa fa-pencil" aria-hidden="true"></i>
               Update
              </a>
               <a class="btn btn-sm btn-primary" href="#" role="button">
                <i class="fa fa-eye" aria-hidden="true"></i>
                View Rating and Comment
              </a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
