<div>
  <h3 class="text-center">User information</h3>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card p-3 py-4">
          <div class="text-center">
            <i
              style="font-size: 3rem;"
              class="fa fa-user-circle"
              aria-hidden="true"
            ></i>
          </div>
          <div class="text-center mt-3">
            <span class="bg-secondary p-1 px-4 rounded text-white">
          
            </span>
            <h5 class="mt-2 mb-0">Nguyen Van A</h5>
            <span>02-09-1990</span>
            <div class="px-4 mt-1">
              <p style="font-size: 15px;" class="fonts"><i
                  style="font-size: 20px;"
                  class="fa fa-map-marker fw-bold"
                  aria-hidden="true"
                ></i>
                35B Trần Hưng Đạo, Q1, phường Cầu Ông Lãnh,TPHCM</p>
              <p style="font-size: 13px;" class="fonts">
                <i
                  style="font-size: 17px;"
                  class="fa fa-envelope fw-bold"
                  aria-hidden="true"
                ></i>
                nva@gmail.com
              </p>
            </div>
            <ul class="social-list">
              
                
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                
              
            </ul>
            
         

          </div>
        </div>
      </div>
    </div>
  </div>
</div>