<!--Shop-->
<section class="shop container">
    <h2 class="section-title">Shop Products</h2>
    <!--Content-->
    <div class="shop-content">
        <div class="product-box">
            <img src="/images/product1.jpg" alt="" class="product-img">
            <h2 class="product-title">ITEM 1</h2>
            <span class="price">$25</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <div class="product-box">
            <img src="/images/product2.jpg" alt="" class="product-img">
            <h2 class="product-title">ITEM 2</h2>
            <span class="price">$25</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <div class="product-box">
            <img src="/images/product3.jpg" alt="" class="product-img">
            <h2 class="product-title">ITEM 3</h2>
            <span class="price">$25</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <div class="product-box">
            <img src="/images/product4.jpg" alt="" class="product-img">
            <h2 class="product-title">ITEM 4</h2>
            <span class="price">$25</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <div class="product-box">
            <img src="/images/product5.jpg" alt="" class="product-img">
            <h2 class="product-title">ITEM 5</h2>
            <span class="price">$25</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <div class="product-box">
            <img src="/images/product6.jpg" alt="" class="product-img">
            <h2 class="product-title">ITEM 6</h2>
            <span class="price">$25</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <div class="product-box">
            <img src="/images/product7.jpg" alt="" class="product-img">
            <h2 class="product-title">ITEM 7</h2>
            <span class="price">$25</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <div class="product-box">
            <img src="/images/product8.jpg" alt="" class="product-img">
            <h2 class="product-title">ITEM 8</h2>
            <span class="price">$25</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
    </div>
    
</section>