<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/public/css/user/itemDetails.css" />

<div class="card-wrapper">
    <div class="card">
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src="/public/images/products/product1.jpg" alt="">
                    <img src="/public/images/products/product2.jpg" alt="">
                    <img src="/public/images/products/product3.jpg" alt="">
                    <img src="/public/images/products/product4.jpg" alt="">
                </div>
            </div>
            <div class="img-select">
                <div class="img-item">
                    <a href="#" data-id="1">
                        <img src="/public/images/products/product1.jpg" alt="">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="2">
                        <img src="/public/images/products/product2.jpg" alt="">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="3">
                        <img src="/public/images/products/product3.jpg" alt="">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="4">
                        <img src="/public/images/products/product4.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="product-content">
            <h2 class="product-title">Item 1</h2>
            <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>4.7</span>
            </div>
            <div class="product-price">
                <p class="last-price">Old Price: <span>$2.50</span></p>
                <p class="new-price">New Price: <span>$2</span></p>
            </div>
            <div class="product-detail">
                <h2>About this item:</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nostrum, sequi, est eos molestias incidunt in ipsam beatae fugiat asperiores voluptates placeat iusto iure ipsum? Laborum officia fuga cum fugit!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nisi quod incidunt expedita distinctio nemo atque eius nobis labore laboriosam nihil, saepe autem quia quo. Quasi molestias porro maiores debitis?</p>
                <ul>
                    <li>Color: <span>Black</span></li>
                    <li>Available: <span>In stock</span></li>
                    <li>Category: <span>T-shirt</span></li>
                    <li>Shipping: <span>Yes</span></li>
                </ul>
            </div>
            <div class="purchase-info">
                <input type="number" min="0" value="1">
                <button class="btn" type="button">Add to cart <i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
</div>